<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>顧客情報管理システムへの各機能追加</title>
    <style>
      table{
        border-collapse:  collapse;
        margin: 0 auto 15px;
        width: 90%;
      }
      th{
        background-color: #ddf5ef;
      }
      th,td{
        padding: 1.5% 0;
        border: 1px solid;
        font-size:small;
        text-align: center;
      }
      .statList th{
        border: none;
      }
      .statList td{
        border: none;
      } 
      .border{
        border: 1px solid;
      }
      .search_wrap{
        margin: 0 auto;
        width: 90%;
        text-align: right;
      }
      input.search {
        -webkit-appearance: none;
        display: inline-block;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 10px;
        width: 200px;
        height: 40px;
        font-size: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      input.search_btn{
        -webkit-appearance: none;
        display: inline-block;
        padding: 0 10px;
        color: #fff;
        height: 40px;
        font-size: 100%;
        vertical-align: top;
        border: none;
        border-radius: 5px;
        background: #1f76e2;
      }
      .select_wrap{
        margin: 40px 0 40px;
      }
      .statBtn{
        -webkit-appearance: none;
        display: inline-block;
        padding: 0 10px;
        color: #fff;
        height: 40px;
        font-size: 100%;
        vertical-align: top;
        border: none;
        border-radius: 5px;
        background: #ee9917;
        margin: 2% 0 5%;;
      }
      .stat_wrap{
        margin: 0 auto;
        width: 90%;
        text-align: center;
      }
    </style>
</head>
<body>
    <div class="search_wrap">
      <input type="search" placeholder="検索" id="nameSearch" class="search" value="">
      <input type="submit" value="送信" id="nameSearchBtn" class="search_btn" onclick="searchBtn()">
    </div>
    <div class="stat_wrap"><input type="button" value="統計ボタン" class="statBtn">
      <table class="statList">
      </table>
      <table class="statList">
      </table>
      <table class="statList">
      </table>
    </div>
    <table class="border usersBox">
      <thead>
        <tr>
          <th>id</th>
          <th>名前</th>
          <th>ふりがな</th>
          <th>性別</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
          <th>住所</th>
          <th>都道府県</th>
          <th>世帯数</th>
          <th>追加</th>
        </tr>
      </thead>
      <tbody class="usersBoxInfo">
        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].id %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].kana_name %></td>
          <td><%= users[i].gender %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].phone %></td>
          <td><%= users[i].address %></td>
          <td><%= users[i].workplace %></td>
          <td><%= users[i].household %></td>
          <td><input type="button" value="選択" class="usersSelectBtn"></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="select_wrap">
      <table class="selectUsers"></table>
    </div>
    <!-- ここからjsの記述 -->
    <script type="text/javascript">

        // 課題01 - 情報の絞り込み機能
        let users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
        let user_list_box = document.getElementById('user_list_box');
        let nameSearch = document.getElementById('nameSearch');
        let nameSearchBtn = document.getElementById('nameSearchBtn');
        let usersBox = document.getElementsByClassName("usersBox");
        let usersBoxInfo = document.getElementsByClassName("usersBoxInfo");
        let nameList = [];
        // 検索フォームの送信ボタンをクリック
        function searchBtn(){
          for (let i = 0; i < users.length; i++) {
            if(nameSearch === ""){
            }else{
              // 一覧表削除
              while(usersBoxInfo[0].firstChild){
                usersBoxInfo[0].removeChild(usersBoxInfo[0].firstChild);
              }
              // 検索結果を出力する
              if(users[i].name.indexOf(nameSearch.value)!== -1){
                nameList.push(users[i]);
                console.log(nameList)
                usersBox[0].insertAdjacentHTML("beforeend",`<tr><td>${users[i].id}</td><td>${users[i].name}</td><td>${users[i].kana_name}</td><td>${users[i].gender}</td><td>${users[i].email}</td><td>${users[i].phone}</td><td>${users[i].address}</td><td>${users[i].workplace}</td><td>${users[i].household}</td></tr>`)
              }
            }
          }
        }

        // 課題02 - 情報を格納する機能
        const usersSelectBtn = document.getElementsByClassName("usersSelectBtn");
        const selectUsers = document.getElementsByClassName("selectUsers");

        // 選択ボタンをクリックしたら削除
        function btnClick(event){
          event.currentTarget.parentNode.parentNode.remove();
        }
        usersSelectBtn[0].addEventListener('click', btnClick);

        for (let i = 0; i < users.length; i++) {
          usersSelectBtn[i].addEventListener('click',function(){
            event.currentTarget.parentNode.parentNode.remove();
            // 選択ボタンをクリックしたら選択した要素が増える
            if(event.currentTarget.parentNode.parentNode.firstElementChild = users[i].id){
              nameList.push(users[i]);
              selectUsers[0].insertAdjacentHTML("beforeend",`<tr><td>${users[i].id}</td><td>${users[i].name}</td><td>${users[i].kana_name}</td><td>${users[i].gender}</td><td>${users[i].email}</td><td>${users[i].phone}</td><td>${users[i].address}</td><td>${users[i].workplace}</td><td>${users[i].household}</td></tr>`)
            };
          },false);
        }

        // 課題03 - 各項目の内容を統計する機能
        const statBtn = document.getElementsByClassName("statBtn");
        const statList = document.getElementsByClassName("statList");
        // 統計ボタンをクリックしたら
        statBtn[0].addEventListener('click', function() {
          // 性別
          const genderMenList = [];
          const genderWomList = [];
          // 各都道府県
          const area01List = [];
          const area02List = [];
          const area03List = [];
          const area04List = [];
          const area05List = [];
          const area06List = [];
          const area07List = [];
          const area08List = [];
          const area09List = [];
          const area10List = [];
          const area11List = [];
          const area12List = [];
          const area13List = [];
          const area14List = [];
          const area15List = [];
          const area16List = [];
          const area17List = [];
          const area18List = [];
          const area19List = [];
          const area20List = [];
          const area21List = [];
          const area22List = [];
          const area23List = [];
          const area24List = [];
          const area25List = [];
          const area26List = [];
          const area27List = [];
          const area28List = [];
          const area29List = [];
          const area30List = [];
          const area31List = [];
          const area32List = [];
          const area33List = [];
          const area34List = [];
          const area35List = [];
          const area36List = [];
          const area37List = [];
          const area38List = [];
          const area39List = [];
          const area40List = [];
          const area41List = [];
          const area42List = [];
          const area43List = [];
          const area44List = [];
          const area45List = [];
          const area46List = [];
          const area47List = [];
          // 各都道府県
          const oneList = [];
          const twoList = [];
          const threeList = [];
          const fourList = [];
          const fiveList = [];

          for (let i = 0; i < users.length; i++){
            // 男性、女性それぞれ何人いるのかを表示
            if(users[i].gender === '男性'){
              genderMenList.push(users[i]);
            }else{
              genderWomList.push(users[i]);
            }
            // 各都道府県が何人ずついるのかを表示
            if(users[i].workplace === '北海道'){
              area01List.push(users[i]);
            }else if(users[i].workplace === '青森'){
              area02List.push(users[i]);
            }else if(users[i].workplace === '岩手'){
              area03List.push(users[i]);
            }else if(users[i].workplace === '宮城'){
              area04List.push(users[i]);
            }else if(users[i].workplace === '秋田'){
              area05List.push(users[i]);
            }else if(users[i].workplace === '山形'){
              area06List.push(users[i]);
            }else if(users[i].workplace === '福島'){
              area07List.push(users[i]);
            }else if(users[i].workplace === '茨城'){
              area08List.push(users[i]);
            }else if(users[i].workplace === '栃木'){
              area09List.push(users[i]);
            }else if(users[i].workplace === '群馬'){
              area10List.push(users[i]);
            }else if(users[i].workplace === '埼玉'){
              area11List.push(users[i]);
            }else if(users[i].workplace === '千葉'){
              area12List.push(users[i]);
            }else if(users[i].workplace === '東京'){
              area13List.push(users[i]);
            }else if(users[i].workplace === '神奈川'){
              area14List.push(users[i]);
            }else if(users[i].workplace === '新潟'){
              area15List.push(users[i]);
            }else if(users[i].workplace === '富山'){
              area16List.push(users[i]);
            }else if(users[i].workplace === '石川'){
              area17List.push(users[i]);
            }else if(users[i].workplace === '福井'){
              area18List.push(users[i]);
            }else if(users[i].workplace === '山梨'){
              area19List.push(users[i]);
            }else if(users[i].workplace === '長野'){
              area20List.push(users[i]);
            }else if(users[i].workplace === '岐阜'){
              area21List.push(users[i]);
            }else if(users[i].workplace === '静岡'){
              area22List.push(users[i]);
            }else if(users[i].workplace === '愛知'){
              area23List.push(users[i]);
            }else if(users[i].workplace === '三重'){
              area24List.push(users[i]);
            }else if(users[i].workplace === '滋賀'){
              area25List.push(users[i]);
            }else if(users[i].workplace === '京都'){
              area26List.push(users[i]);
            }else if(users[i].workplace === '大阪'){
              area27List.push(users[i]);
            }else if(users[i].workplace === '兵庫'){
              area28List.push(users[i]);
            }else if(users[i].workplace === '奈良'){
              area29List.push(users[i]);
            }else if(users[i].workplace === '和歌山'){
              area30List.push(users[i]);
            }else if(users[i].workplace === '鳥取'){
              area31List.push(users[i]);
            }else if(users[i].workplace === '島根'){
              area32List.push(users[i]);
            }else if(users[i].workplace === '岡山'){
              area33List.push(users[i]);
            }else if(users[i].workplace === '広島'){
              area34List.push(users[i]);
            }else if(users[i].workplace === '山口'){
              area35List.push(users[i]);
            }else if(users[i].workplace === '徳島'){
              area36List.push(users[i]);
            }else if(users[i].workplace === '香川'){
              area37List.push(users[i]);
            }else if(users[i].workplace === '愛媛'){
              area38List.push(users[i]);
            }else if(users[i].workplace === '高知'){
              area39List.push(users[i]);
            }else if(users[i].workplace === '福岡'){
              area40List.push(users[i]);
            }else if(users[i].workplace === '佐賀'){
              area41List.push(users[i]);
            }else if(users[i].workplace === '長崎'){
              area42List.push(users[i]);
            }else if(users[i].workplace === '熊本'){
              area43List.push(users[i]);
            }else if(users[i].workplace === '大分'){
              area44List.push(users[i]);
            }else if(users[i].workplace === '宮崎'){
              area45List.push(users[i]);
            }else if(users[i].workplace === '鹿児島'){
              area46List.push(users[i]);
            }else if(users[i].workplace === '沖縄'){
              area47List.push(users[i]);
            }
            // 各世帯数がそれぞれ何人
            if(users[i].household === 1){
              oneList.push(users[i]);
            }else if(users[i].household === 2){
              twoList.push(users[i]);
            }else if(users[i].household === 3){
              threeList.push(users[i]);
            }else if(users[i].household === 4){
              fourList.push(users[i]);
            }else if(users[i].household === 5){
              fiveList.push(users[i]);
            }
          }
          statList[0].insertAdjacentHTML("afterbegin",`<tr><th colspan="2">男性、女性それぞれ何人いるのかを表示</th></tr>`);
          statList[0].insertAdjacentHTML("beforeend",`<tr><td>男性：${genderMenList.length}</td><td>女性：${genderWomList.length}</td></tr>`);
          statList[1].insertAdjacentHTML("afterbegin",`<tr><th colspan="10">各都道府県が何人ずついるのかを表示</th></tr>`);
          statList[1].insertAdjacentHTML("beforeend",`<tr><td>北海道:${area01List.length}</td><td>青森:${area02List.length}</td><td>岩手:${area03List.length}</td><td>宮城:${area04List.length}</td><td>秋田:${area05List.length}</td><td>山形:${area06List.length}</td><td>福島:${area07List.length}</td><td>茨城:${area08List.length}</td><td>:栃木:${area09List.length}</td><td>群馬:${area10List.length}</td></tr>`);
          statList[1].insertAdjacentHTML("beforeend",`<tr><td>埼玉:${area11List.length}</td><td>千葉:${area12List.length}</td><td>東京:${area13List.length}</td><td>神奈川:${area14List.length}</td><td>新潟:${area15List.length}</td><td>富山:${area16List.length}</td><td>石川:${area17List.length}</td><td>山梨:${area18List.length}</td><td>山梨:${area19List.length}</td><td>長野:${area20List.length}</td></tr>`);
          statList[1].insertAdjacentHTML("beforeend",`<tr><td>岐阜:${area21List.length}</td><td>静岡:${area22List.length}</td><td>愛知:${area23List.length}</td><td>三重:${area24List.length}</td><td>滋賀:${area25List.length}</td><td>京都:${area26List.length}</td><td>大阪:${area27List.length}</td><td>兵庫:${area28List.length}</td><td>奈良:${area29List.length}</td><td>和歌山:${area30List.length}</td></tr>`);
          statList[1].insertAdjacentHTML("beforeend",`<tr><td>鳥取:${area31List.length}</td><td>島根:${area32List.length}</td><td>岡山:${area33List.length}</td><td>広島:${area34List.length}</td><td>山口:${area35List.length}</td><td>徳島:${area36List.length}</td><td>香川:${area37List.length}</td><td>愛媛:${area38List.length}</td><td>高知:${area39List.length}</td><td>福岡:${area40List.length}</td></tr>`);
          statList[1].insertAdjacentHTML("beforeend",`<tr><td>佐賀:${area41List.length}</td><td>長崎:${area42List.length}</td><td>熊本:${area43List.length}</td><td>大分:${area44List.length}</td><td>宮崎:${area45List.length}</td><td>鹿児島:${area46List.length}</td><td>沖縄:${area47List.length}</td></tr>`);
          statList[2].insertAdjacentHTML("afterbegin",`<tr><th colspan="5">各世帯数がそれぞれ何人ずついるのかを表示</th></tr>`);
          statList[2].insertAdjacentHTML("beforeend",`<tr><td>世帯人数1人:${oneList.length}組</td><td>世帯人数2人:${twoList.length}組</td><td>世帯人数3人:${threeList.length}組</td><td>世帯人数4人:${fourList.length}組</td><td>世帯人数5人:${fiveList.length}組</td></tr>`);
        }, false);

    </script>
</body>
</html>